@import "tailwindcss";
@import './header.css';
@import './footer.css';

@theme {
    /* Primary Colors */
    --color-primary: #00bf63;
    --color-primary-2: #1A43A0;
    --color-primary-3: #475467;
    --color-primary-4: #272b31;
    --color-primary-5: #F2F4F7;
    --color-primary-6: #37814B;
    --color-primary-7: #F2F5FC;
    --color-primary-8: #101828;
    --color-primary-9: #394b9b99;
    --color-primary-10: #E1EAF8;
    --color-primary-11: #f6f6f8;
    --color-primary-12: #F8F8FF;
    
    /* Secondary & Accent Colors */
    --color-secondary: #8C5E3B;
    --color-accent: #D1A66E;
    
    /* Text Colors */
    --color-text: #333333;
    --color-text-light: #6c757d;
    --color-text-secondary: #475467;
    
    /* Background Colors */
    --color-bg-light: #F8F9FA;
    --color-bg-light-blue: rgba(225, 234, 248, 1);
    
    /* Border Colors */
    --color-border: #F2F5FC;
    --color-border-green: rgba(159, 214, 174, 1);
}



body {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.custom-zalo {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Icon_of_Zalo.svg/50px-Icon_of_Zalo.svg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: -0.125em;
}

.social-icon .custom-zalo {
    font-size: 1.2em;
}

