.modal-content-custom {
    border-radius: var(--radius-2xl, 24px);
    background: var(--background-bg-primary, #FFF);
    border: none !important;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05) !important;
}